

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (League league in ViewBag.Leagues)
            {
                <tr>
                    <td>
                        @league.Id
                    </td>
                    <td>
                        @league.Name
                    </td>
                    <td>
                        @league.Description
                    </td>
                </tr>
            }
        }
    </tbody>
</table>